body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./resources/background/medline-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  backdrop-filter: contrast(0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* ::-webkit-overflow-scrolling: touch; */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background-color: gainsboro;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #153b5c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(21, 59, 92, 0.85);
}
